{% extends "base.html" %}

{% block title %} Просмотр вакансии {% endblock %}


{% block menu_title %} Меню {% endblock %}

{% block menu_items %}
    {% for item in menu %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ item.url }}">{{ item.text }}</a>
    {% endfor %}
{% endblock %}

{% block page_content %}
<h1 class="mt-4">Информация о навыке (ID {{skill.id}})</h1>
    <p>{{skill.name}}</p>

    <p>Вы уверены?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Да</button>
    </form>
{% endblock %}